.friendItem {
  display: flex;
  
}

.item {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 border: 2px solid #0e0e0e;
  padding: 10px;
  border-radius: 5px;
  min-width: 85px;
  background-color: rgb(255, 255, 255);
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.online {
  color: green;
  margin: 0;
}

.offline {
  color: red;
  margin: 0;
}
